<div class="pa" id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class="panel panel-default panel-node panel-info">
    <div id='{{id}}-heading' data-id="{{id}}" class="panel-heading">
      <i class="fa fa-navicon" aria-hidden="true"></i> {{name}}
      <span class="delete-node pull-right" data-type="deleteNode" data-id="{{id}}">X</span>
    </div>
    <ul class="list-group">
      <li id="{{id}}-noinput" data-pid="{{id}}" class="list-group-item panel-node-list">输入超时
      </li>
      <li id="{{id}}-nomatch" data-pid="{{id}}" class="list-group-item panel-node-list">输入错误
      </li>
      {{#choices}}
      <li id="{{id}}-key-{{key}}" data-pid="{{id}}" class="list-group-item panel-node-list">按{{key}}
      </li>{{/choices}}
    </ul>
  </div>
</div>