<div class="pa" id='{{id}}' style='top:{{top}}px;left:{{left}}px'>
  <div class="panel panel-default panel-node panel-info">
    <div id='{{id}}-heading' data-id="{{id}}" class="panel-heading">
      <i class="fa fa-calendar-times-o" aria-hidden="true"></i> {{name}}
      <span class="delete-node pull-right" data-type="deleteNode" data-id="{{id}}">X</span>
    </div>
    <ul class="list-group">
      <li id="{{id}}-onWorkTime" data-pid="{{id}}" class="list-group-item panel-node-list">工作时间
      </li>
      <li id="{{id}}-offWorkTime" data-pid="{{id}}" class="list-group-item panel-node-list">非工作时间
      </li>
    </ul>
  </div>
</div>